[submodule "app/wfbngrtl8812/src/main/cpp/devourer"]
	path = app/wfbngrtl8812/src/main/cpp/devourer
	url = https://github.com/gehee/devourer.git
	branch = android-compat

[submodule "app/wfbngrtl8812/src/main/cpp/wfb-ng"]
	path = app/wfbngrtl8812/src/main/cpp/wfb-ng
	url = https://github.com/svpcom/wfb-ng.git
	branch = master

[submodule "app/video/src/main/cpp/enet"]
	path = app/video/src/main/cpp/enet
	url = https://github.com/lsalzman/enet.git
	branch = master

